{{#if isFirstPage}}
{{/if}}

<h3>Search by: 
{{#x-select value=0 action="selectSearch"}}
    <option value=0>Select</option>
    {{#x-option value=1}}Tag{{/x-option}}
  {{#x-option value=2}}Title{{/x-option}}
{{#x-option value=3}}Contributor{{/x-option}}
{{/x-select}}</h3>

<h3>Search term: {{input value=keyword enter="search"}}</h3>

{{#unless isFirstPage}}
<h3>Page {{page}} of all nodes</h3>
{{/unless}}

<ul>
{{#each model as |node|}}
    <li>
<!--                remove query params as you go to a single model page-->
        {{#link-to 'nodes.node' node (query-params page=1)}}<h3>{{node.title}}</h3>{{/link-to}}
        <p>Category: {{node.category}}</p>
<!--
        {{#if node.children}}<p>I have children!</p>{{/if}}
        {{#if node.parent}}<p>I have a parent!</p>{{/if}}
-->
        <p>Last modified: {{node.dateModified}}</p>
        <p>Contributors:</p>
        <ul>
        {{#each node.contributors as |contributor|}}
            {{#link-to 'users.user' contributor.user.id}}<li>{{contributor.user.fullName}}</li>{{/link-to}}
        {{/each}}
        </ul>
        {{#if node.tags}}
        <p>Tags:</p>
        <ul>
            {{#each node.tags as |tag|}}
<!--                remove query params as you go to a single model page-->
                {{#link-to 'nodes.tag' tag.id (query-params page=1)}}<li>{{tag.id}}</li>{{/link-to}}
            {{/each}}
        </ul>
        {{/if}}
        <br>
    </li>
{{/each}}
</ul>

<h3>Navigation:</h3>
{{#unless isFirstPage}}
    {{#link-to (query-params page=prevPage)}}Previous{{/link-to}}
{{/unless}}

{{#each PageRange as |num|}}
    {{#link-to (query-params page=num)}}{{num}}{{/link-to}}
{{/each}}

{{#unless isLastPage}}
    {{#link-to (query-params page=nextPage)}}Next{{/link-to}}
{{/unless}}



