<h3>This is a single node page</h3>
<h4>{{model.title}}</h4>
<p>Last modified: {{model.dateModified}}</p>
<p>Contributors:</p>
<ul>
{{#each model.contributors as |contributor|}}
    {{#link-to 'users.user' contributor.user.id}}<li>{{contributor.user.fullName}}</li>{{/link-to}}
{{/each}}
</ul>

{{#if model.tags}}
<p>Tags:</p>
<ul>
{{#each model.tags as |tag|}}
    {{#link-to 'nodes.tag' tag.id}}<li>{{tag.id}}</li>{{/link-to}}
{{/each}}
</ul>
{{/if}}

{{#if model.children}}
<h4>Child Nodes:</h4>
<ul>
    {{#each model.children as |child|}}
        <li>{{#link-to 'nodes.node' child.id}}{{child.title}}{{/link-to}}, {{child.category}}</li>
    {{/each}}
</ul>
{{/if}}

{{#if model.parent}}
<p><strong>Parent node:</strong> {{#link-to 'nodes.node' model.parent.id}}{{model.parent.title}}{{/link-to}}</p>
{{/if}}

{{#if model.comments}}
<h4>Comments:</h4>
<ul>
{{#each model.comments as |comment|}}
    <li><strong>Comment from {{comment.user.fullName}} on {{comment.dateCreated}}:</strong> {{comment.content}}</li>
    <br>
    {{#if comment.replies}}
        <ul>
            {{#each comment.replies as |reply|}}
            <li>Reply from {{reply.user.fullName}} on {{reply.dateCreated}}: {{reply.content}}</li>
            <br>
            {{/each}}
        </ul>
    {{/if}}
{{/each}}
</ul>
{{else}}<h4>No comments for this node.</h4>{{/if}}

{{#unless model}}
    <p>No nodes with that title!</p>
{{/unless}}

{{#link-to 'nodes.index' (query-params page=1)}}<p>Back to all nodes</p>{{/link-to}}

