<h3>All nodes tagged {{tagID}}</h3>
<ul>
{{#each model as |node|}}
    <li>
       
        {{#link-to 'nodes.node' node}}<h3>{{node.title}}</h3>{{/link-to}}
        <p>Last modified: {{node.dateModified}}</p>
        <h4>Contributors:</h4>
        <ul>
            {{#each node.contributors as |contributor|}}
                {{#link-to 'users.user' contributor.user.id}}<li>{{contributor.user.fullName}}</li>{{/link-to}}
            {{/each}}
        </ul>
        <p>Filed under {{tagID}}</p>
        <br>
    </li>  
{{/each}}
</ul>

{{#unless model}}
    <p>No nodes with that tag!</p>
{{/unless}}

<h3>Navigation:</h3>
{{#unless isFirstPage}}
    {{#link-to (query-params pge=prevPage)}}Previous{{/link-to}}
{{/unless}}

{{#each PageRange as |num|}}
    {{#link-to (query-params pge=num)}}{{num}}{{/link-to}}
{{/each}}

{{#unless isLastPage}}
    {{#link-to (query-params pge=nextPage)}}Next{{/link-to}}
{{/unless}}
<br>
{{#link-to 'nodes'}}Return to all nodes{{/link-to}}
