<h3>All nodes tagged {{tagID}}</h3>
<ol>
{{#each model as |node|}}
    <li>
       
        {{#link-to 'nodes.node' node}}<h3>{{node.title}}</h3>{{/link-to}}
        <p>{{node.dateCreated}}</p>
        <p>Filed under {{tagID}}</p>
        <br>
    </li>  
{{/each}}
</ol>
{{#link-to 'nodes'}}Return to all nodes{{/link-to}}

<!--
        <ul>
            {{#each node.tags as |tag|}}
                {{#link-to 'nodes.tag' tag}}<li>{{tag.id}}</li>{{/link-to}}
            {{/each}}
        </ul>
-->
