
<h3>Page {{pg}} of search for nodes with title {{titleID}}</h3>

<ul>
{{#each model as |node|}}
    <li>
       
        {{#link-to 'nodes.node' node}}<h3>{{node.title}}</h3>{{/link-to}}
        <p>Last modified: {{node.dateModified}}</p>
        <p>Category: {{node.category}}</p>
        <h4>Contributors:</h4>
        <ul>
            {{#each node.contributors as |contributor|}}
                {{#link-to 'users.user' contributor.user.id}}<li>{{contributor.user.fullName}}</li>{{/link-to}}
            {{/each}}
        </ul>
        <br>
    </li>  
{{/each}}
</ul>

{{#unless model}}
    <p>No nodes with that title!</p>
{{/unless}}

<h3>Navigation:</h3>
{{#unless isFirstPage}}
    {{#link-to (query-params pg=prevPage)}}Previous{{/link-to}}
{{/unless}}

{{#each PageRange as |num|}}
    {{#link-to (query-params pg=num)}}{{num}}{{/link-to}}
{{/each}}

{{#unless isLastPage}}
    {{#link-to (query-params pg=nextPage)}}Next{{/link-to}}
{{/unless}}
<br>
{{#link-to 'nodes' (query-params page=1)}}Return to all nodes{{/link-to}}